$title-color = #d62806
@keyframes moveAnimation {
  from {
    transform:translateY(0) scale(1);
  }
  to {
    transform:translateY(-20px) scale(1.1);
  }
}
@keyframes  moveAnimation {
  from {
    transform:translateY(0) scale(1);
  }
  to {
    transform:translateY(-20px) scale(1.1);
  }
}
@-moz-keyframes  moveAnimation {
  from {
    transform:translateY(0) scale(1);
  }
  to {
    transform:translateY(-20px) scale(1.1);
  }
}
@-webkit-keyframes  moveAnimation {
  from {
    transform:translateY(0) scale(1);
  }
  to {
    transform:translateY(-20px) scale(1.1);
  }
}
@-o-keyframes  moveAnimation {
  from {
    transform:translateY(0) scale(1);
  }
  to {
    transform:translateY(-20px) scale(1.1);
  }
}
